{% extends "master.html" %}

{% block title %}
    reservation.html
{% endblock %}


{% block content %}
    <h1>Récapitulatif réservation</h1>

    <p><strong>Départ :</strong> {{ address_start }}</p>
    <p><strong>Arrivée :</strong> {{ address_stop }}</p>
    <p><strong>Date :</strong> {{ date_start }}</p>
    <p><strong>Heure :</strong> {{ time_start }}</p>
    <p><strong>Véhicule :</strong> {{ car_type }}</p>
    <p><strong>Passagers :</strong> {{ nb_passengers }}</p>
    <p><strong>Bagages :</strong> {{ nb_luggages }}</p>
    <p><strong>Type de trajet :</strong> {{ trip_type }}</p>

    <h3>Coordonnées</h3>
    <p><strong>Nom :</strong> {{ last_name }}</p>
    <p><strong>Prénom :</strong> {{ first_name }}</p>
    <p><strong>Téléphone :</strong> {{ phone }}</p>
    <p><strong>Email :</strong> {{ email }}</p>

    <p><strong>Message :</strong> {{ note }}</p>
{% endblock %}