{% extends "website/master.html" %}

{% block title %}
    confirmation.html
{% endblock %}


{% block content %}
    <a href="{% url 'reservation_add' %}" class="btn btn-primary">Revenir au formulaire</a>
    <h1>Récapitulatif réservation</h1>

    <p><strong>Départ :</strong> {{ reservation.address_start }}</p>
    <p><strong>Arrivée :</strong> {{ reservation.address_end }}</p>
    <p><strong>Date et heure :</strong> {{ reservation.datetime_start|date:"d/m/Y H:i" }}</p>
    <p><strong>Véhicule :</strong> {{ reservation.car_type }}</p>
    <p><strong>Passagers :</strong> {{ reservation.nb_passengers }}</p>
    <p><strong>Bagages :</strong> {{ reservation.nb_luggages }}</p>
<!--    <p><strong>Type de trajet :</strong> {{ reservation.trip_type }}</p>-->
    <p><strong>Distance :</strong> {{ reservation.distance }} km</p>
    <p><strong>Durée :</strong> {{ reservation.duration }} min</p>
    <p><strong>Prix :</strong> {{ reservation.price }} €</p>

    <h3>Coordonnées</h3>
    <p><strong>Nom :</strong> {{ reservation.last_name }}</p>
    <p><strong>Prénom :</strong> {{ reservation.first_name }}</p>
    <p><strong>Téléphone :</strong> {{ reservation.phone }}</p>
    <p><strong>Email :</strong> {{ reservation.email }}</p>

    <p><strong>Message :</strong> {{ reservation.note }}</p>

<!--    <form action="/validation/" method="post">-->
    <form action="{% url 'validation' %}" method="post">
    {% csrf_token %}

    {% for key, value in reservation.items %}
        <input type="hidden" name="{{ key }}" value="{{ value }}">
    {% endfor %}

    <input type="submit" value="Valider la réservation">
</form>
{% endblock %}