{% extends "website/master.html" %}
{% load static %}
{% load duration_filters %}
{% load i18n %}

{% block title %}
    confirmation.html
{% endblock %}

{% block extra_css %}
<style>
.recap-section {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

.recap-section p {
    margin: 6px 0;
    font-size: 15px;
}

.recap-section h3 {
    margin-bottom: 10px;
    color: #2f5bea;
}
</style>
{% endblock %}

{% block content %}
<div class="card recap">
    <a href="{% url 'reservation_add' %}" class="btn btn-primary">{% trans "Revenir au formulaire" %}</a>
    <h1>{% trans "Récapitulatif réservation" %}</h1>
    <div class="recap-section">
        <h3>{% trans "Trajet" %}</h3>
        <p><strong>{% trans "Départ" %} :</strong> {{ reservation.address_start }}</p>

        {% if reservation.trip_type.trip_type_id == 1 %}
            {# Trajet simple #}
            <p><strong>{% trans "Arrivée" %} :</strong> {{ reservation.address_end }}</p>
            <p><strong>{% trans "Distance" %} :</strong> {{ reservation.distance }} km</p>
        {% endif %}

        <p><strong>{% trans "Type de trajet" %} :</strong> {{ reservation.trip_type.trip_type_label }}</p>
        <p><strong>{% trans "Date et heure" %} :</strong> {{ reservation.datetime_start }}</p>
        <p><strong>{% trans "Véhicule" %} :</strong> {{ reservation.car_type.vehicule_label }}</p>

        {# Durée formatée #}
        <p><strong>{% trans "Durée estimé" %} :</strong> {{ reservation.duration|minutes_to_hours }}</p>
        <p><strong>{% trans "Prix estimé" %} :</strong> {{ reservation.price }} €</p>
    </div>
    <div class="recap-section">
        <h3>{% trans "Passagers" %}</h3>
        <p><strong>{% trans "Passagers" %} :</strong> {{ reservation.nb_passengers }}</p>
        <p><strong>{% trans "Bagages" %} :</strong> {{ reservation.nb_luggages }}</p>
    </div>
    <div class="recap-section">
        <h3>{% trans "Coordonnées" %}</h3>
        <p><strong>{% trans "Nom" %} :</strong> {{ reservation.last_name }}</p>
        <p><strong>{% trans "Prénom" %} :</strong> {{ reservation.first_name }}</p>
        <p><strong>{% trans "Téléphone" %} :</strong> {{ reservation.phone }}</p>
        <p><strong>{% trans "Email" %} :</strong> {{ reservation.email }}</p>
        {% if reservation.note != "" %}
        <p><strong>{% trans "Commentaires" %} :</strong> {{ reservation.note }}</p>
        {% endif %}
    </div>
    <form action="{% url 'validation' %}" method="post">
        {% csrf_token %}

        {% for key, value in reservation.items %}
            <input type="hidden" name="{{ key }}" value="{{ value }}">
        {% endfor %}
        <input type="submit" value="{% trans 'Valider la réservation' %}">
    </form>
</div>

{% endblock %}